.background {
  background-color: #999999;
  width: 100%;
  height: 100vh;
}

.sinup {
  width: 60rem;
  height: 60rem;
  background-color: white;
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
}

.title {
  text-align: center;
  height: 3rem;
}

.logo {
  width: 2.6rem;
  height: 2.6rem;
  margin-left: 3rem;
}

.next_Btn {
  float: right;
  background-color: #1da1f2;
  height: 3rem;
  width: 6rem;
  border: none;
  border-radius: 50%;
  border-radius: 45px;
  outline: none;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}

.next_Btn:hover:enabled {
  background-color: #1a91da;
}

.next_Btn:disabled {
  background-color: #8ed0f9;
  cursor: default;
}

.body {
  margin: 0 2rem;
}

.input_label_email,
.input_label_password {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 0.1rem solid #c4cfd6;
  border-radius: 0.4rem;
  padding: 0.3rem 0.4rem;
  margin: 2rem 0;
  font-size: 1.2rem;
}
.input_label_email:focus-within,
.input_label_password:focus-within {
  box-shadow: 0 0 0 0.2rem #1da1f2;
}

.input_label_email:focus-within .input_text,
.input_label_password:focus-within .input_text {
  color: #1da1f2;
}

input {
  height: 3rem;
  border: none;
  font-size: 2rem;
  outline: none;
}

.comment {
  color: #93a1ad;
  font-size: 1.5rem;
}
.select_box {
  margin: 1.5rem 0;
}
select {
  width: 300px;
  height: 5rem;
  border: 0.1rem solid #c4cfd6;
  border-radius: 0.4rem;
  font-size: 2rem;
  outline: none;
}

select:focus-within {
  box-shadow: 0 0 0 0.2rem #1da1f2;
}

select:focus .option_text {
  color: #1da1f2;
}

select {
  padding-top: 2rem;
}

select-arrow {
  pointer-events: none;
}

.option_text {
  position: absolute;
  padding-left: 0.4em;
  padding-top: 0.4em;

  font-size: 1.2rem;
  color: #93a1ad;
}

.month {
  width: 24rem;
  margin-right: 1rem;
}

.date {
  width: 13rem;
  margin-right: 1rem;
}

.year {
  width: 14rem;
}

/* info_check */
.Btn_bg:hover {
  background-color: #e8f5fe;
  border-radius: 50%;
}

.Btn_bg {
  position: relative;
  display: inline;
  width: 3rem;
  height: 100%;
  float: left;
}

.back_Btn {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sigup_comment {
  font-size: 1.5rem;
  color: black;
}

.signup_Btn {
  background-color: #1da1f2;
  height: 5rem;
  width: 100%;
  border: none;
  border-radius: 50%;
  border-radius: 45px;
  outline: none;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 2.5rem 0;
  cursor: pointer;
}
.container_left {
  position: relative;
  display: inline;
  width: 3rem;
  height: 100%;
  float: left;
}

.container_right {
  float: right;
  /* background-color: #1da1f2; */
  height: 3rem;
  width: 6rem;
  border: none;
  border-radius: 50%;
  border-radius: 45px;
  outline: none;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}

/*congirm  */

.input_label_key {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #f7f9fa;
  border-bottom: 0.1rem solid #1da1f2;
  padding: 0.3rem 0.4rem;
  margin: 2rem 0;
  font-size: 1.2rem;
}
.input_key_text {
  color: #1da1f2;
}
.key_input {
  background-color: #f7f9fa;
}
