button {
  /* width: 35%; */
  padding: 1rem;
  border: 1px solid #1da1f2;
  border-radius: 50%;
  border-radius: 45px;

  outline: none;
  color: #1da1f2;
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: inherit;
  cursor: pointer;
}

button:hover {
  background-color: #dae8f2;
}
