/* right */

.contents_main {
  width: 50%;
  height: 100%;
  border-right: 0.5px solid #ebeef0;
}

.content_title {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-content: center;
  border-bottom: 0.5px solid #ebeef0;
  padding: 1rem 1rem;
}
.title_text {
  /* padding: 1rem; */
  font-size: 1.9rem;
  font-weight: bold;
  height: 100%;
  padding: auto;
}

.title_svg_bg {
  padding: 0.5rem;
}

.title_svg_bg:hover {
  border-radius: 50%;
  background-color: #e8f5fe;
}

.title_svg_bg svg {
  width: 2.1rem;
  fill: #1da1f2;
  /* vertical-align: bottom; */
}

.content_tweet {
  border-bottom: 0.5px solid #ebeef0;
}

.content_user_img {
  margin: 1rem;
  width: 5rem;
  border-radius: 50%;
}

textarea {
  width: 300px;
  overflow: visible;
}

textarea.autosize {
  min-height: 50px;
}

.content_position {
  /* display: flex;
  flex-direction: column; */
}

@media screen and (max-width: 1300px) {
  .contents_main {
    width: 100%;
    border-right: 0.5px solid #ebeef0;
  }
}
